#bootstrap-overrides main {
  margin: auto auto 100px;
  color: #222222;
  text-align: left;
  width: 700px;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

#bootstrap-overrides h1 {
  margin: 12px;
  font-family: 'Abril Fatface', cursive;
  font-size: 28px;
  font-weight: normal;
  line-height: 1.4em;
  position: fixed;
}

#bootstrap-overrides h2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.15em;
}

#bootstrap-overrides h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 40px auto 0px;
}

#bootstrap-overrides h4 {
  margin-top: 5px;
  font-size: 15px;
  font-family: 'Abril Fatface', cursive;
}

#bootstrap-overrides p, ul {
  line-height: 1.8em;
  list-style-type: square;
}

#bootstrap-overrides span {
  font-size: 150px;
}

#bootstrap-overrides .myname {
  font-size: 52px;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
}

#bootstrap-overrides .role {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  line-height: 1.4em;
}

#bootstrap-overrides .contacts {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

#bootstrap-overrides .intro {
  font-size: 22px;
  margin-top: 12px;
}

#bootstrap-overrides .content {
  padding: 16px;
}

#bootstrap-overrides .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
}

.sticky + .content {
  padding-top: 102px;
}

blockquote p {
  font-style: normal;
  padding: 0 40px 40px;
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 1.5em;
  color: white;
}

p {
  margin: 0;
}

blockquote {
  width: 850px;
  margin-left: -75px;
  background-color: #444444;
  font-family: 'Abril Fatface', cursive;
  font-size: 52px;
  text-align: left;
}

blockquote:before {
  color: white;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin: 0;
  vertical-align: -0.45em;
}

hr {
    display: block;
    width: 105%;
    margin: 40px auto;
    margin-left: -20px;
    border-style: solid;
    border-width: 3px;
}

.badge {
      background-color:#f1f1f1;
      border: 1px solid #000;
}
