main {
  margin: auto auto 100px;
  color: #222222;
  text-align: left;
  width: 700px;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  margin: -160px auto 100px;
  font-family: 'Abril Fatface', cursive;
  font-size: 34px;
  font-weight: normal;
  line-height: 1.4em;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h3 {
  font-size: 24px;
  margin: 40px auto 0px;
}

h4 {
  margin-top: 5px;
  font-style: italic;
  font-size: 15px;
  font-family: 'Merriweather', sans-serif;
}

p, ul {
  line-height: 1.8em;
  list-style-type: square;
}

span {
  font-size: 150px;
}

img {
  width: 85%;
  margin: 0 7.5%;
  border-top: 4px black solid;
}

.myname {
  font-size: 68px;
  font-weight: bold;
}

.intro {
  font-size: 18px;
}

blockquote p {
  font-style: normal;
  padding: 0 40px 40px;
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 1.5em;
  color: white;
}

blockquote {
  width: 850px;
  margin-left: -75px;
  background-color: #444444;
  font-family: 'Abril Fatface', cursive;
  font-size: 52px;
  text-align: left;
}

blockquote:before {
  color: white;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin: 0;
  vertical-align: -0.45em;
}

hr {
    display: block;
    width: 105%;
    margin: 40px auto;
    margin-left: -20px;
    border-style: solid;
    border-width: 3px;
}
